*{
    font-family: 'Source Serif 4', sans-serif;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    background: rgba(128, 92, 0, 0.1);
    height: 425px;

}
header h1{
    text-transform: uppercase;
    margin-bottom: 30px;
}
span{
    color: orange;
}
.header-element{
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0 5%;
}
.header-element p{
    margin-top: 20px;
    margin-bottom: 40px;
}

header a{
    text-decoration: none;
    color: aliceblue;
    background-image: linear-gradient( orange, chocolate);
    padding: 10px 40px;
    border-radius: 5px;
    
}
#title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 40px;
}
.flexible-container{
    display: flex;
    align-items: center;
}

.box-style{
    width: 40%;
    margin: 5%;
    padding: 25px;
    box-shadow: 10px 10px 40px gray ;
    border-radius: 10px;
    border-left: 7px solid ;
    border-image: linear-gradient( rgb(27, 3, 242), rgb(151, 158, 187));
    border-image-slice: 1;

}
.box-style h3{
    margin: 15px 0;
}
.single-box{
    border-image: linear-gradient( rgb(226, 65, 6), rgb(196, 152, 120));
    border-image-slice: 1;
}
footer{
    text-align: center;
    margin-bottom: 20px;
}